<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The LACKP</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>

  <body>
    <script src="/javascripts/app.js"></script>
    <h1>The LACKP Homepage</h1>
    <ul>
      <li>
        <a href="teams">Teams</a>
      </li>
      <li>
        <a href="positions">Positions</a>
      </li>
    </ul>
  </body>
</html>
